@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#map,
#pano {
  border-style: solid;
  border-width: 1px;
}

#outer-map {
  height: 100%;
  width: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
  padding: 10px;
}

#map {
  height: 80%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#submit {
  position: relative;
  font-size: 15px;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  border-radius: 10px;
}

#map-box {
  position: relative;
  border-radius: 10px;
  float: right;
  height: 25%;
  width: 50%;
  transition: 0.3s;
}

#map-box:hover {
  height: 45%;
  width: 100%;
}

#outer-map:has(#map-box:hover) #hud {
  width: 100%;
}

#hud {
  font-size: 15px;
  position: relative;
  padding: 10px;
  width: 50%;
  background-color: #222831;
  border-radius: 10px;
  transition: 0.3s;
}

#chall-result,
#chall-title {
  color: #EEEEEE;
  margin: 0;
  padding: 5px;
}

#pano {
  position: fixed;
  float: left;
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 0px;
  display: flex;
}


#result {
  height: 25%;
  width: 90%;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
}

#location,
#distance,
#totaldistance {
  font-size: 20px;
  text-align: center;
  font-family: Chalkduster, fantasy;
}

#location,
#distance {
  display: inline-block;
  margin-left: 20px;
}

#check,
#next {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  width: 200px;
}

#buttons,
#info {
  text-align: center;
}

h1 {
  text-align: center;
}

#next {
  margin-left: 100px;
}


#center {
  text-align: center;
}

#totaldistance {
  bottom: 0;
  width: 100%;
}